* {
  font-family: "El Messiri", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(../../public/imgs/background2.jpg) no-repeat center center fixed;
  background-size: cover;
}

.form {
  border-radius: 2rem;
  transition: 0.3s;
  width: 450px;
}

input::placeholder {
  font-size: 15px;
}

input:focus {
  border: 2px dashed #0097ff !important;
  outline: none;
}

button{
    background-color:#0097ff;
    height: 40px;
    border-radius: 10px;
    transition: background 0.3s;
    cursor: pointer;
}

button:hover {
  background:#5ebfff;
}

.decore {
  height: 350px;
  border-top-right-radius: 43px;
}

.alreadyhad {
  font-size: 0.9rem;
}
